{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Poll App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </div>
    </div>
  </div>
</nav>
<div class="container my-4">
    <h3 class="my-4">Register</h3>
    <form method="POST" action="">
    <table class="table table-bordered">
        {% csrf_token %}
        {{form.as_table}}
        <tr>
            <td colspan="3">
                <button type="Submit">Login</button>


            </td>
        </tr>
    </table>
    </form>
</div>


</body>
</html>